@media screen and (min-width: 768px) {

    /* Title alignment */

    .page-title {
        text-align: start;
    }

    /* Show title name details */

    .recipe-name-details {
        display: inline-block;
    }

    /* Large recipe title */

    .font-lg {
        font-size: 24px;
    }

    /* Video becomes bigger */

    iframe {
        min-height: 420px;
    }

    /* Info scheme change */

    .fa-ul.row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    li.col-33 {
        flex-basis: calc(100% / 3 - 40px / 3);
    }

    /* Stretching social buttons */

    .social-banner {
        justify-content: normal;
        margin: 30px 15px;
    }

    .social-btn {
        width: 100%;
        text-align: center;
        margin: 0 10px;
    }

}

@media screen and (min-width: 992px) {

    /* Larger recipe title */
    .font-xl {
        font-size: 28px;
    }

    /* Video and info stand aside */

    .card-intro-main {
        display: flex;
    }

    .col-30 {
        flex-basis: 30%;
    }

    .col-70 {
        flex-basis: 70%;
    }

    iframe {
        min-height: 460px;
    }

    .fa-ul.row {
        display: block;
    }

    /* Showing social names */

    .social-name {
        display: inline-block;
    }

}