/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    position: relative;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

header {
    height: 80px;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 20px;
}

/* Titolo */

.page-title {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

    color: #FF9614;
    text-shadow: 1px 1px 0 #aaa;
    text-align: center;
}